/* .list-group-item-light.list-group-item-action:focus, .list-group-item-light.list-group-item-action:hover {
    color: #dc3545;
    background-color: #f8f9fa;
} */
body {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
}

.list-group-item {
  font-family: 'Source Code Pro', monospace;
  padding-left: 12em !important;
  padding-right: 12em !important;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
}

.material-icons.green { color: #afff6d; }
.material-icons.red { color: #ff826d; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  /*background-color: #F44336;*/
  background-color: #00bc8c;
}

.custom-control-label {
  padding-top: 0.3em;
}

.questionRow {
  border-color: #303030;
  border-style: solid;
  border-width: 3px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding: 1.5em;
  border-radius: 1em;
}

.navbutton {
  padding-top: 0.3rem;
}

.navbar {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

tr {
  background-color: #303030;
}

tr:hover {
  background-color: #444 !important;
}

td, th {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.xs-btn {
  padding-top: 0.07rem;
  padding-bottom: 0.07rem;
}

.successtext {color: #afff6d;}
.failtext{color: #ff826d;}

.form-control {
  background-color: #303030 !important;
  color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
  border-color: #00bc8c;
}

.center-content {
  align-items: center;
  height: 100vh;
  display: grid;
}